main .hellohumanspage-context div .title {
    font-size: 35px;
    margin-top: 15px;
}

main .context .title {
    font-size: 40px;
}

main .context .forms {
    width: 200px;
    margin: 3% auto 1% auto;
}

main .context .forms button {
    width: 150px;
    background: #4169E1;
    border: none;
}

main .hellopage-content h1{
    font-size: 30px;
}

